@font-face {
    font-family: 'AM-DejaVuSansCondensed-Bold';
    src: url('/fonts/DejaVuSansCondensed-Bold.woff2') format('woff2'),
    url('/fonts/DejaVuSansCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AM-Impact';
    src: url('/fonts/Impact.woff2') format('woff2'),
    url('/fonts/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

