
$lightBrown: #451a0b;
$brown: #3c1400;
$darkBrown: #2d0f00;

$yellow: #fbaf1a;
$darkYellow: #c68a15;

$red: #ff000a;
$darkRed: #d10008;

$pink: #fdc7c7;

$blue: #20358c;
$darkBlue: #20008c;

$gray: #a2a2a2;
$darkGray: #727272;